.featuring {
    background: linear-gradient(to right, #ff0000, #ff458b);
    display: flex;
    height: 100%;
    align-items: center;
    padding-left: 100px;
    color: white;
}

.featuring-image {
    margin-right: 20px;
}

.featuring-title {
    margin: 10px;
}

.featuring-album {
    font-size: 1.3em;
    margin: 10px;
}