@media (--large)
{
    body {
        border: 10px solid yellow;
    }
}

@media (--medium)
{
    body {
        border: 10px solid black;
    }
}

@media (--small)
{
    body {
        border: 10px solid blue;
    }
    .home {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 150px;
        grid-template-areas: "primary"
                            "sidebar"
                            "featuring";
    }
}

@media (--extra-small)
{
    body {
        border: 10px solid orange;
    }
    .home {
        height: auto;
        grid-template-columns: 1fr;
        grid-template-rows: auto auto 150px;
        grid-template-areas: "sidebar"
                            "primary"
                            "featuring";
    }
}