/*Sidebar*/
.sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr 1fr;
    color: white;
    padding: 1em;
    box-sizing: border-box;
    height: 100vh;
    overflow: auto;
    /* background: var(--darkColor); */
    /* background: color(rebeccapurple alpha(30%) contrast(50%)); */
    background: hwb(200,0%,0%,1);
}